.about-hero-section {
  width: 100%;
  height: 800px;
  position: relative;
}

.about-hero-section img {
  width: 100%;
  height: 100%;
}
.hero-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-content p {
  margin: 20px 0px;

  text-align: justify;
  line-height: 24px;
}
.about-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 90px;
}

.about-description-left-side {
  width: 550px;
}
.owner {
  display: flex;
  width: 100%;
  height: 450px;
  margin: 50px 0px;
  box-shadow: -2px -5px 66px 0px rgba(237, 160, 168, 0.79);
  -webkit-box-shadow: -2px -5px 66px 0px rgba(237, 160, 168, 0.79);
  -moz-box-shadow: -2px -5px 66px 0px rgba(237, 160, 168, 0.79);
}
.owner-left {
  width: 50%;
  height: 100%;
}
.owner-left img {
  width: 100%;
  height: 100%;
}
.owner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 50%;
}
