.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}
.right-side .link {
  margin: 20px;
  text-decoration: none;
  color: #18191f;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
#btn {
  background-color: #be852c;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
