.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}
.right-side .link {
  margin: 20px;
  text-decoration: none;
  color: #18191f;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Varela Round", sans-serif;
}
#btn {
  background-color: #be852c;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}

.navbar i {
  display: none;
}

@media screen and (max-width: 420px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .right-side {
    display: none;
  }
  .navbar i {
    display: block;
  }
}
