.listOfPackageItem {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 420px) {
  .listOfPackageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
